.image {
  width: 200px;
  height: 300px;
  margin: 20px;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  border: 2px solid #000;
  background-size: cover;
  background-position: center;
  cursor: grab;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.selected {
  border: 5px solid rgb(0, 195, 255);
}
